<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YeyBaiban.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <YeyBaiban.Properties.Settings>
      <setting name="qiniuHost" serializeAs="String">
        <value>http://oc5149s4u.bkt.clouddn.com</value>
      </setting>
      <setting name="serverHost" serializeAs="String">
        <value>http://123.57.150.90:8011</value>
      </setting>
      <setting name="newServerHost" serializeAs="String">
        <value>http://localhost:8080/yeyBaiban</value>
      </setting>
      <setting name="serverFileHost" serializeAs="String">
        <value>http://123.57.150.90:8011</value>
      </setting>
      <setting name="appTitle" serializeAs="String">
        <value>红黄蓝幼儿园白板教学系统</value>
      </setting>
      <setting name="copyright" serializeAs="String">
        <value>北京红黄蓝儿童教育科技发展有限公司版权所有</value>
      </setting>
    </YeyBaiban.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>